@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Montserrat:wght@400;700;900&display=swap');

:root {
  --primary-light: #fff;
  --secondary-light: #ededed;
  --primary-dark: #333;
  --primary-red: #dc2626;
  --knobs-size: 60px;
  --knobs-spacing: 10px;
  --title-color: #facc15;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-dark);
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-light);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster Two', cursive;
}

body {
  user-select: none;
  height: 100vh;
  background-image: url('./images/desktop-g64dc3ac57_1280.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Board */
.board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  background-color: var(--primary-red);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 2px black;
}

/* Drawing area */
.board .grid {
  height: 80%;
  width: 80%;
  margin: 50px 0; 
  background-color: var(--secondary-light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
  display: grid;
}

.cell {
  transition: ease-in-out 0.2s;
}

.board h1,
.board .knobs {
  position: absolute;
}

.board h1 {
  top: 0;
  font-size: 3rem;
  color: var(--title-color);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.board .knobs {
  bottom: calc(var(--knobs-size) + var(--knobs-spacing));
  width: 100%;
}

.board .knobs > * {
  position: inherit;
  border-radius: 50%;
  background-color: var(--primary-light);
  width: var(--knobs-size);
  height: var(--knobs-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.knobs-left {
  left: var(--knobs-spacing);
}

.knobs-right {
  right: var(--knobs-spacing);
}

/* Toolbox */
.settings {
  border-radius: 10px;
  background-color: var(--secondary-light);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  grid-template-rows: auto 1fr;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin-bottom: 50px;
}

.settings h2 {
  grid-column: 1 / 3;
  font-size: 2.5rem;
}

.settings .sketch-tools,
.settings .sketch-sizes {
  grid-row: 2 / 3;
}

.settings .sketch-tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sketch-tools .buttons-color {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

button.tools-clear {
  width: 100px;
  background-color: var(--primary-light);
  font-weight: bold;
  font-size: 1rem;
}

#size-slider {
  cursor: pointer;
  width: 200px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: var(--secondary-light);
}

footer a {
  color: var(--primary-red);
}

/* Utilities */
.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.tools-black {
  background-color: black;
}

.tools-rainbow {
  background: linear-gradient(180deg,
   rgba(255, 0, 0, 1) 0%,
   rgba(255, 255, 0, 1) 33%,
   rgba(0, 192, 255, 1) 66%,
   rgba(192, 0, 255, 1) 100%);
}

.tools-red {
  background-color: rgb(255, 0, 0);
}

.tools-green {
  background-color: rgb(0, 255, 0);
}

.tools-blue {
  background-color: rgb(0, 0, 255);
}

.tools-shade {
  background-color: #666;
}

.tools-erase {
  background-color: white;
}

.active {
  transform: scale(1.3);
}

.scale-11 {
  transform: scale(1.1);
}